@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.active {
  text-decoration: underline; /* You can add any styles you want for the active link */
  color: green; /* Example: Change the text color to green */
}

.doctor-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.doctor-list-container {
  width: 90%;
  height: auto;
  position: relative;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 70px 0;
}

.doctor-text-container {
  text-align: center;
}

.doctor-title-text {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Bebas Neue', sans-serif;
  color: #171717;
}

.doctor-paragraph-text {
  color: #bbb;
  font-size: 12px;
  text-transform: capitalize;
  font-weight: 600;
}

.doctors-listing {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  position: relative;
  overflow-x: auto;
  overflow: hidden;
  padding: 50px;
  text-align: center;
}

.doctor-box {
  width: calc(33.33% - 10px);
  height: auto;
  background: transparent;
  border: 1px solid #f3eeee;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  margin-right: 30px;
  padding: 20px;
}

.doctor-image {
  width: 200px;
  height: 200px;
  background-size: 100%;
  background-color: #4ecca3;
  border-radius: 50%;
  margin-top: 50px;
  padding: 10px;
  border: 1px solid #f3eeee;
}

.doctor-name {
  font-size: 15px;
  font-weight: 700;
  text-transform: capitalize;
  padding: 15px;
  border-bottom: 3px solid #e8e8e8;
  border-style: dotted;
}

.social-icon-container {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.social-icon {
  margin: 0 10px;
  width: 25px;
  padding: 5px;
  border: 1px solid #e3e3e3;
  border-radius: 50%;
  cursor: pointer;
}

.retrun-back-btn {
  transform: rotate(180deg);
}

.title-styling,
.name-styling {
  font-family: 'Bebas Neue', sans-serif;
  color: #1d1d1d;
}

.title-styling {
  font-weight: 300;
  letter-spacing: 1px;
  color: #797676;
}


@media screen and (max-width: 1100px) {
  .doctors-listing {
    max-width: 800px;
    justify-content: space-around;
  }

  .doctor-box {
    width: calc(50% - 10px);
  }
}

@media screen and (max-width: 760px) {
  .doctors-listing {
    max-width: 100%;
    justify-content: space-around;
  }

  .doctor-box {
    width: calc(100% - 10px);
  }

  .doctor-container {
    width: 100%;
    display: flex;
  }
}
